body {
  font-family: "Roboto", sans-serif;
  margin: auto;
  height: 2349px;
  background: #ffffff;
  color: #212121;
}
.wrapper {
  margin: auto;
}
.top {
  background-color: #ffffff;
  height: 80px;
  border: 1px solid #ececec;
}
.logo {
  padding-left: 215px;
  padding-top: 24px;
  padding-bottom: 25px;
  font-family: "Raleway";
  font-size: 26px;
  width: 145px;
  line-height: 1.19;
}
.logo_part1 {
  font-family: "Raleway";
  font-size: 26px;
  color: #2196f3;
  width: var(--font-size);
  text-decoration: none;
}
.logo_part2 {
  font-family: "Raleway";
  font-size: 26px;
  color: #000000;
  width: 145px;
  text-decoration: none;
}
.team {
  background-color: #f5f4fa;
  line-height: 1.1875;
}
footer {
  background-color: #2f303a;
}
footer p {
  background-color: #2f303a;
  color: #ffffff;
  line-height: 1.71;
}
.title {
  background-color: #2f303a;
  height: 600px;
  color: #ffffff;
}
h1 {
  font-size: 44px;
  width: 696px;
  height: 120px;
  margin: auto;
  padding: 200px 452px 280px 452px;
  text-align: center;
  line-height: 1.36;
  font-weight: 696px;
}
.order {
  width: 200px;
  height: 50px;
  color: #ffffff;
  background: #2196f3;
  text-align: center;
  margin: 30px 741px 210px 742px;
  font-size: 16px;
  line-height: 1.875;
  align-items: center;
  cursor: pointer;
  font-weight: 117px;
  font-family: inherit;
  font-style: Bold;
}
button:focus {
  background-color: #2196f3;
}
button:hover {
  background-color: #2196f3;
  color: #ffffff;
}
.link {
  text-decoration: none;
  color: inherit;
  font-weight: 58px;
}
button {
  font-size: 16px;
  cursor: pointer;
  line-height: 1.625;
  font-weight: 121px;
}
.link:hover {
  color: #2196f3;
}
.link .link:focus {
  font-size: var(--font-size);
  line-height: 1.14;
}
h3 {
  font-size: var(--font-size);
  color: inherit;
  line-height: 1.14;
}
h2 {
  font-size: 36px;
  color: inherit;
  line-height: 1.166;
}
p {
  font-size: var(--font-size);
  line-height: 1.71;
}
.name {
  font-size: 16px;
  color: inherit;
  font-weight: 117px;
}
.product {
  font-size: 16px;
  color: var(--text-color);
  line-height: 1.875;
}
address {
  font-size: var(--font-size);
  color: #ffffff;
}
.job {
  font-size: 16px;
  color: var(--text-color);
  line-height: 1.875;
}
.projects {
  font-size: 18px;
  color: inherit;
  line-height: 2;
}
:root {
  --text-color: #757575;
  --font-size: 14px;
}
.contact {
  color: var(--text-color);
  font-weight: 135px;
}
.logo_end {
  color: #ffffff;
  text-decoration: none;
}
